## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Description,Date
0,0,Hilo,19.7297,-155.0900,71.33,88,100,3.44,US,overcast clouds,2022-04-11 14:52:16
1,1,Vaini,-21.2000,-175.2000,77.16,94,75,8.05,TO,light intensity drizzle,2022-04-11 14:52:35
2,2,Karratha,-20.7377,116.8463,84.61,28,2,12.66,AU,clear sky,2022-04-11 14:52:35
3,3,Airai,-8.9266,125.4092,59.95,64,100,1.86,TL,overcast clouds,2022-04-11 14:51:36
4,4,Busselton,-33.6500,115.3333,58.78,79,7,10.76,AU,clear sky,2022-04-11 14:52:36

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [8]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Description,Date
1,1,Vaini,-21.2000,-175.2000,77.16,94,75,8.05,TO,light intensity drizzle,2022-04-11 14:52:35
2,2,Karratha,-20.7377,116.8463,84.61,28,2,12.66,AU,clear sky,2022-04-11 14:52:35
5,5,Porto Novo,6.4965,2.6036,89.42,55,94,10.83,BJ,overcast clouds,2022-04-11 14:52:36
8,8,San Patricio,28.0170,-97.5169,76.87,74,100,18.23,US,overcast clouds,2022-04-11 14:52:37
10,10,Georgetown,5.4112,100.3354,82.33,83,20,2.30,MY,few clouds,2022-04-11 14:52:38
18,18,Rikitea,-23.1203,-134.9692,78.91,73,2,19.39,PF,light rain,2022-04-11 14:52:40
19,19,Coahuayana,18.7333,-103.6833,86.47,45,22,2.15,MX,few clouds,2022-04-11 14:52:41
23,23,Barranco,9.5167,-82.7000,84.13,59,85,1.88,PA,overcast clouds,2022-04-11 14:52:42
24,24,Kavieng,-2.5744,150.7967,82.09,76,8,12.37,PG,clear sky,2022-04-11 14:52:43
31,31,Sibolga,1.7427,98.7792,76.84,86,100,1.95,ID,overcast clouds,2022-04-11 14:52:45

In [9]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.notnull().sum()

City_ID        239
City           239
Lat            239
Lng            239
Max Temp       239
Humidity       239
Cloudiness     239
Wind Speed     239
Country        236
Description    239
Date           239
dtype: int64

In [10]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Description,Date
1,1,Vaini,-21.2000,-175.2000,77.16,94,75,8.05,TO,light intensity drizzle,2022-04-11 14:52:35
2,2,Karratha,-20.7377,116.8463,84.61,28,2,12.66,AU,clear sky,2022-04-11 14:52:35
5,5,Porto Novo,6.4965,2.6036,89.42,55,94,10.83,BJ,overcast clouds,2022-04-11 14:52:36
8,8,San Patricio,28.0170,-97.5169,76.87,74,100,18.23,US,overcast clouds,2022-04-11 14:52:37
10,10,Georgetown,5.4112,100.3354,82.33,83,20,2.30,MY,few clouds,2022-04-11 14:52:38

In [11]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
1,Vaini,TO,77.16,light intensity drizzle,-21.2000,-175.2000,
2,Karratha,AU,84.61,clear sky,-20.7377,116.8463,
5,Porto Novo,BJ,89.42,overcast clouds,6.4965,2.6036,
8,San Patricio,US,76.87,overcast clouds,28.0170,-97.5169,
10,Georgetown,MY,82.33,few clouds,5.4112,100.3354,
18,Rikitea,PF,78.91,light rain,-23.1203,-134.9692,
19,Coahuayana,MX,86.47,few clouds,18.7333,-103.6833,
23,Barranco,PA,84.13,overcast clouds,9.5167,-82.7000,
24,Kavieng,PG,82.09,clear sky,-2.5744,150.7967,
31,Sibolga,ID,76.84,overcast clouds,1.7427,98.7792,

In [12]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():

    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # 6c. Get latitude and longitude from DataFrame
    params["location"] = f"{lat},{lng}"

    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"


    # 6e. Make request and retrieve the JSON data from the search. 
   
    hotels = requests.get(base_url, params=params).json()

    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except:
        print("Hotel not found...skipping")

hotel_df.head()

Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
1,Vaini,TO,77.16,light intensity drizzle,-21.2000,-175.2000,Keleti Beach Resort
2,Karratha,AU,84.61,clear sky,-20.7377,116.8463,ibis Styles Karratha
5,Porto Novo,BJ,89.42,overcast clouds,6.4965,2.6036,Tour Eiffel Hotel Benin
8,San Patricio,US,76.87,overcast clouds,28.0170,-97.5169,"Motel 6 Sinton, TX"
10,Georgetown,MY,82.33,few clouds,5.4112,100.3354,Cititel Penang

In [13]:
# 7. Drop the rows where there is no Hotel Name.
# remove rows by filtering
clean_hotel_df = hotel_df[hotel_df['Hotel Name'].map(len) >= 1]
# display the dataframe
clean_hotel_df.head()

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
1,Vaini,TO,77.16,light intensity drizzle,-21.2000,-175.2000,Keleti Beach Resort
2,Karratha,AU,84.61,clear sky,-20.7377,116.8463,ibis Styles Karratha
5,Porto Novo,BJ,89.42,overcast clouds,6.4965,2.6036,Tour Eiffel Hotel Benin
8,San Patricio,US,76.87,overcast clouds,28.0170,-97.5169,"Motel 6 Sinton, TX"
10,Georgetown,MY,82.33,few clouds,5.4112,100.3354,Cititel Penang

In [14]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_Vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [15]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City Name</dt><dd>{City}</dd>
<dt>Country Code</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

len(locations)
len(clean_hotel_df["Max Temp"])

220

In [16]:
# 11a. Add a marker layer for each city to the map. 
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
max_temp = clean_hotel_df["Max Temp"]
locations = clean_hotel_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig
# 11b. Display the figure

Figure(layout=FigureLayout(height='420px'))